/*Feature in landing page*/
.feature{
  text-align:center;
  margin-bottom: 20px;
  margin-top: 20px;
}

/*Flex row in products showcase*/
.flex-row {
	display: flex;
	flex-wrap: wrap;
}
.flex-row > [class*='col-'] {
	display: flex;
	flex-direction: column;
}

.flex-row .thumbnail,
.flex-row .caption {
	flex-direction: column;
	display: flex;
	flex: 1 0 auto;
	height: auto;
	position: relative;
}
.flex-text {
	flex-grow: 1;
}
.flex-row img {
  width:200px;
  padding:10px;
}


/*Panel*/
.pnl-recensioni{
  margin: 10px 20px 20px 20px;
}

.pnl-recensioni-head{
  text-decoration: none;
  font-weight: bold;
}

.ProductTitle{
  margin-bottom:0px;
}



/*Image gallery in productpage.php*/
.carousel-inner {
  position: relative;
  width: 100%;
  min-height: 300px;
  }

 .carousel-control.right {
  right: 0;
  left: auto;
  background-image: none !important;
  background-repeat: repeat-x;
}
 .carousel-control.left {
  left: 0;
  right: auto;
  background-image: none !important;
  background-repeat: repeat-x;
}
#carousel-example-generic {
    margin: 20px auto;
    width: 100%;
}

#carousel-custom {
    margin: 20px auto;
    width: 70%;
}
#carousel-custom .carousel-indicators {
    margin: 10px 0 0;
    overflow: auto;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
    overflow:hidden;
}
#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto;
}
#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}
#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}
#carousel-custom .carousel-indicators li:hover img {
    opacity: 0.75;
}
#carousel-custom .carousel-outer {
    position: relative;
}
.carousel-indicators li img {
  height: 66px;
  width: 52px;}


/*PAGINATION CSS*/
.li_product {
  display:inline-block;
  padding:10px 10px 0px 10px;
}

.PaginationWrapper{
  text-align: center;
}


.btnMarginFix{
  margin-bottom: 5px;
}
